    <nav class="navbar">
        <div class="nav-container">
            <a href="index.html" class="logo">PGH<span class="dot">.</span></a>
            <ul class="nav-links">
                <li><a href="index.html">首页</a></li>
                <li><a href="blog.html">博客</a></li>
                <li><a href="projects.html">项目</a></li>
            </ul>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>
